$CellWith: 60px;
$CellHeight: 50px;
$SignatureWith: 299px;

.Row {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: row;
  height: $CellHeight;
}
.Row + .Row {
  border-top: none;
}
.Row:hover {
  background-color: #f5f5f5bd;
}
.Column {
  width: $SignatureWith;
  display: flex;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.Content {
  border-left: 1px solid black;
  width: $CellWith;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.Content:hover {
  background-color: #ebeaea;
}

.None {
  color: #ff4d4f;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  padding-top: 5px;
}

.Dropdown > * {
  z-index: 6;
}
.Disabled > * {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(230, 230, 230);
}
.DisabledCell {
  cursor: not-allowed;
}
