$CellWith: 60px;
$CellHeight: 50px;
$SignatureWith: 300px;

.Row {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: row;
  height: $CellHeight;
}
.Row + .Row {
  border-top: none;
}
.Row:hover {
  background-color: #f5f5f5bd;
}
.Signature_Cell {
  height: 100%;
  width: $SignatureWith;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.Cell {
  border-left: 1px solid black;
  width: $CellWith;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.Cell:hover {
  background-color: #ebeaea;
}

.None {
  color: #ff4d4f;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  padding-top: 5px;
}
