.siteLayoutBackground {
  background: #fff;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  margin-left: 20px;
}
.Container {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Drawer {
  padding-right: 75px;
}
