$firstColor: #9ad4fc;
$secondColor: #4b97cc;
$size: 35px;

@mixin Circle {
  border: 2px solid $firstColor;
  border-style: solid;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: white;
}

.circle-1 {
  @include Circle();
}
.circle-2 {
  @include Circle();
  background: linear-gradient(90deg, white 50%, $firstColor 50%);
}
.circle-3 {
  @include Circle();
  background: $firstColor;
}

.circle-4 {
  @include Circle();
  border-color: $secondColor;
  background: $secondColor;
}
