//colors

$light-blue-color: #9ad4fc;
$dark-blue-color: #4b97cc;
$light-green-color: #eafbd3;
$light-yellow-color: #eafbd3;

$primary-color: #000;

//fonts

$primary-font: "Roboto";
$secondary-font: "Poppins";
$bold: 700;
$regular: 500;
$light: 300;

//metrics

$x-small: 10px;
$small: 20px;
$base: 30px;
$medium: 40px;
$large: 60px;
$x-large: 80px;
$xx-large: 100px;
