.DemoButton {
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: all 0.12s linear;

  &:hover {
    opacity: 0.8;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  }
}
